img {

    background-color: blue;
    object-position: center top;
    border: 2px solid black;
    position: top right;
    width: 10px;
    height: 20px;
  }
.navbar-container {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 500px;
  


}